@font-face {
  font-family: "iconfont"; /* Project id 2706275 */
  src: url('iconfont.woff2?t=1627458673742') format('woff2'),
       url('iconfont.woff?t=1627458673742') format('woff'),
       url('iconfont.ttf?t=1627458673742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhangfulei-xiajiang:before {
  content: "\e725";
}

.icon-zhangfulei-shangsheng:before {
  content: "\e726";
}

.icon-msnui-rmb:before {
  content: "\e612";
}

.icon-fangke:before {
  content: "\e67f";
}

.icon-fangke1:before {
  content: "\e60a";
}

.icon-fangke2:before {
  content: "\e640";
}

.icon-jine:before {
  content: "\e659";
}

